<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="../static/agri_styles.css" />
    <link rel="icon" href="../static/images/logo.png" type="image/x-icon" />
    <title>Atmanirbhar Bharat</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg header navbar-dark bg-light fixed-top">
      <a class="navbar-brand" href="index.html"
        ><img src="../static/images/logo.png" height="50" width="60"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#Techniques">Techniques</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#schemes">Schemes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#models">AI models</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="industry.html">Industry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="agri.html">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="marketing.html">Marketing</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#about">Contact Us</a>
          </li>
        </ul>
        <span class="navbar-text text-white">
          <h1>Education</h1>
        </span>
      </div>
    </nav>

    <div class="gap"></div>

    <div>
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleCaptions"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../static/images/edu_carousel/e1.jpg" class="d-block w-100" />
          </div>
          <div class="carousel-item">
            <img src="../static/images/edu_carousel/e2.jpg" class="d-block w-100" />
          </div>
          <div class="carousel-item">
            <img src="../static/images/edu_carousel/e3.jpg" class="d-block w-100" />
          </div>
          <div class="carousel-item">
            <img src="../static/images/edu_carousel/e4.jpg" class="d-block w-100" />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <hr />

    <div class="container" id="Techniques">
      <div class="row row-content align-items-center">
        <div class="col-12 text-center">
          <h1 class="headings">Modern Techniques of Education</h1>
        </div>
      </div>
      <div class="row row-content text-center align-items-center">
        <div class="col-12 col-md-5 text-center pp">
          <div class="tiles textOverImage" data-text="Crossover Learning">
            <img src="../static/images/tech1.jpg" height="250" width="300" />
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-12 col-md-6 text-center">
          <div class="card cardsec d-none d-sm-block">
            <h5 class="card-header">Crossover Learning</h5>
            <div class="card-body">
              <h5 class="card-title">Learn by looking at your environment</h5>
              <p class="card-text">
                Learning in informal settings, such as museums and after-school
                clubs, can link educational content with issues that matter to
                learners in their lives.
              </p>
              <p>
                These crossover learning experiences exploit the strengths of
                both environments and provide learners with authentic and
                engaging opportunities for learning.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-content text-center align-items-center">
        <div class="col-12 col-md-6 text-center">
          <div class="card cardsec d-none d-sm-block">
            <h5 class="card-header">Computational Thinking</h5>
            <div class="card-body">
              <h5 class="card-title">Divide and Conquer</h5>
              <p class="card-text">
                Computational thinking is a powerful approach to thinking and
                problem solving. It involves breaking large problems down into
                smaller ones (decomposition), recognizing how these relate to
                problems that have been solved in the past (pattern
                recognition), setting aside unimportant details (abstraction),
                identifying and developing the steps that will be necessary to
                reach a solution (algorithms) and refining these steps
                (debugging).
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-12 col-md-5 text-center pp">
          <div class="tiles textOverImage" data-text="Computational Thinking">
            <img src="../static/images/tech2.jpg" height="250" width="300" />
          </div>
        </div>
      </div>
      <div class="row row-content text-center align-items-center">
        <div class="col-12 col-md-5 text-center pp">
          <div
            class="tiles textOverImage"
            data-text="Learning By Doing Science "
          >
            <img src="../static/images/tech3.jpg" height="250" width="300" />
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-12 col-md-6 text-center">
          <div class="card cardsec d-none d-sm-block">
            <h5 class="card-header">Learning By Doing Science</h5>
            <div class="card-body">
              <h5 class="card-title">Do it and Learn it</h5>
              <p class="card-text">
                Engaging with authentic scientific tools and practices such as
                controlling remote laboratory experiments or telescopes can
                build science inquiry skills, improve conceptual understanding,
                and increase motivation. Remote access to specialized equipment,
                first developed for scientists and university students, is now
                expanding to trainee teachers and school students.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-content text-center align-items-center">
        <div class="col-12 col-md-6 text-center">
          <div class="card cardsec d-none d-sm-block">
            <h5 class="card-header">Adaptive Teaching</h5>
            <div class="card-body">
              <h5 class="card-title">Learn at your own Pace</h5>
              <p class="card-text">
                All learners are different. However, most educational
                presentations and materials are the same for all. This creates a
                learning problem, by putting a burden on the learner to figure
                out how to engage with the content.
              </p>
              <p>
                It uses data about a learner’s previous and current learning to
                create a personalized path through educational content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-12 col-md-5 text-center pp">
          <div class="tiles textOverImage" data-text="Adaptive Teaching">
            <img src="../static/images/tech4.jpg" height="250" width="300" />
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="container" id="schemes">
      <div class="row row-content align-items-center">
        <div class="col-12 text-center">
          <h1 class="headings">Schemes in Education Field</h1>
        </div>
      </div>
      <div class="row-content align-items-center">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link navsc-link"
              href="#a"
              role="tab"
              data-toggle="tab"
              >Sarva Shiksha Abhiyan
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link navsc-link"
              href="#b"
              role="tab"
              data-toggle="tab"
              >Right to Education (RTE) Act
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link navsc-link"
              href="#c"
              role="tab"
              data-toggle="tab"
              >Midday Meal Scheme
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link navsc-link"
              href="#d"
              role="tab"
              data-toggle="tab"
              >Beti Bachao, Beti Padhao
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade show active" id="a">
            <h3>Sarva Shiksha Abhiyan</h3>
            <p class="d-none d-sm-block">
              This program was introduced in 2001 and is one of the biggest
              projects in India.
            </p>
            <p class="d-none d-sm-block">
              The Sarva Shiksha Abhiyan (SSA) is a flagship program for the
              children to get Universal Elementary Education (UEE)
            </p>
            <p class="d-none d-sm-block">
              This program covers the entire country and works in partnership
              with local and state governments. SSA is mainly useful for
              children between the ages of 6 to 14. The program aims to
              universalise education and improves its quality by time-bound
              implementation strategy and context-specific planning.
            </p>
            <a href="" class="btn card-button-apply">Explore More</a>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="b">
            <h3>Right to Education (RTE) Act</h3>
            <p class="d-none d-sm-block">
              The Right to Education (RTE) Act was enacted in 2009, and this Act
              made education for every child between 6 and 14 years a
              fundamental right. It also set the basic norms that must be
              followed by every elementary school in the country.
            </p>
            <p class="d-none d-sm-block">
              This means that no child has to pay any kind of charges or fee to
              complete education up to elementary level. The RTE act also aims
              at the development of a curriculum that makes sure the child
              receives the benefit of all-round development, building their
              knowledge, talent, and potential.
            </p>
            <a href="" class="btn card-button-apply">Explore More</a>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="d">
            <h3>Beti Bachao, Beti Padhao</h3>
            <p class="d-none d-sm-block">
              The main aim of this government scheme was initially to protect
              girl children from female foeticide and infanticide and later,
              provide assistance for their education.
            </p>
            <p class="d-none d-sm-block">
              Other objectives of the plan include stopping the practice of
              gender-determination tests and discrimination against girl
              children.
            </p>
            <p class="d-none d-sm-block">
              The Beti Bachao, Beti Padhao scheme ensures the protection of
              girls and their survival and makes sure that girls participate in
              educational activities alongside boys.
            </p>
            <a href="" class="btn card-button-apply">Explore More</a>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="c">
            <h3>Midday Meal Scheme</h3>
            <p class="d-none d-sm-block">
              The main objective of creating this scheme was to eliminate
              classroom hunger of children and to increase attendance and
              enrolment of children at schools.
            </p>
            <p class="d-none d-sm-block">
              This scheme also aims to improve the interaction between children
              of all castes and religions. It also addresses the issue of
              inadequate and improper nutrition among children. Women are also
              socially empowered since the scheme creates employment
              opportunities.
            </p>
            <p class="d-none d-sm-block">
              This scheme can help in developing children emotionally and
              socially.
            </p>
            <a href="" class="btn card-button-apply">Explore More</a>
          </div>
        </div>
      </div>
    </div>
    <hr />

    <div class="container" id="models">
      <div class="row row-content align-items-center">
        <div class="col-12 text-center">
          <h1 class="headings">
            AI Recomendation for a Personalised Learning Path
          </h1>
        </div>
      </div>

      <div class="row row_content">
        <div class="col-3">
          <img src="../static/images/pre1.png" height="400" width="350" />
        </div>
        <div class="offset-md-1 col-8">
          <div class="col-12">
            <h3>Predict Alternate Crop</h3>
          </div>
          <div class="col-12">
            <form>
              <div class="form-group row">
                <label for="firstname" class="col-md-3 col-form-label"
                  >Temperature</label
                >
                <div class="col-md-3">
                  <input
                    type="number"
                    step="0.01"
                    class="form-control"
                    id="firstname"
                    name="firstname"
                    placeholder="Temperature"
                  />
                </div>
                <label for="lastname" class="col-md-3 col-form-label"
                  >Soil Moisture</label
                >
                <div class="col-md-3">
                  <input
                    type="number"
                    class="form-control"
                    step="0.01"
                    id="lastname"
                    name="lastname"
                    placeholder="Soil Moisture"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="firstname" class="col-md-3 col-form-label"
                  >Humidity</label
                >
                <div class="col-md-3">
                  <input
                    type="number"
                    step="0.01"
                    class="form-control"
                    id="firstname"
                    name="firstname"
                    placeholder="Humidity"
                  />
                </div>
                <label for="lastname" class="col-md-3 col-form-label"
                  >Soil pH</label
                >
                <div class="col-md-3">
                  <input
                    type="number"
                    class="form-control"
                    id="lastname"
                    name="lastname"
                    placeholder="Soil pH"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="firstname" class="col-md-3 col-form-label"
                  >Latitude</label
                >
                <div class="col-md-3">
                  <input
                    type="number"
                    step="0.01"
                    class="form-control"
                    id="firstname"
                    name="firstname"
                    placeholder="Latitude"
                  />
                </div>
                <label for="lastname" class="col-md-3 col-form-label"
                  >Longitude</label
                >
                <div class="col-md-3">
                  <input
                    type="number"
                    class="form-control"
                    id="lastname"
                    name="lastname"
                    placeholder="Longitude"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="emailid" class="col-md-3 col-form-label"
                  >Season</label
                >
                <div class="col-md-3">
                  <select class="form-control">
                    <option>Winter</option>
                    <option>Spring</option>
                    <option>Summer</option>
                    <option>Monsoon</option>
                    <option>Autumn</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <button type="submit" class="btn card-button-apply-predict">
                    Predict
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12 col-md"></div>
        </div>
      </div>
      <hr />
    </div>

    <hr />

    <footer class="footer" id="about">
      <div class="container">
        <div class="row">
          <div class="col-4 col-sm-2 offset-1">
            <h5>Links</h5>
            <ul class="list-unstyled">
              <li><a href="#">Back to top</a></li>
              <li><a href="index.html">Home</a></li>
              <li><a href="#Techniques">Techniques</a></li>
              <li><a href="#schemes">Schemes</a></li>
              <li><a href="#models">AI Models</a></li>
            </ul>
          </div>
          <div class="col-7 col-sm-5">
            <h5>Our Address</h5>
            <address>
              91 Springboard, Panjim, Tiswadi<br />
              North Goa, Goa<br />
              India<br />
              <i class="fa fa-phone fa-lg"></i>: 123 4567 123<br />
              <i class="fa fa-fax fa-lg"></i>: 123 4567 123<br />
              <i class="fa fa-envelope fa-lg"></i>:
              <a href="mailto:india@ind.net">india@ind.net</a>
            </address>
          </div>
          <div class="col-12 col-sm-4 align-self-center">
            <div class="text-center">
              <a class="btn btn-socal-icon btn-google" href="http://google.com/"
                ><i class="fa fa-google-plus fa-lg"></i
              ></a>
              <a
                class="btn btn-socal-icon btn-facebook"
                href="http://www.facebook.com/"
                ><i class="fa fa-facebook fa-lg"></i
              ></a>
              <a
                class="btn btn-socal-icon btn-linkedin"
                href="http://www.linkedin.com/"
                ><i class="fa fa-linkedin fa-lg"></i
              ></a>
              <a
                class="btn btn-socal-icon btn-twitter"
                href="http://twitter.com/"
                ><i class="fa fa-twitter fa-lg"></i
              ></a>
              <a
                class="btn btn-socal-icon btn-youtube"
                href="http://youtube.com/"
                ><i class="fa fa-youtube fa-lg"></i
              ></a>
              <a class="btn btn-socal-icon" href="mailto:"
                ><i class="fa fa-envelope-o fa-lg"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <p>© Copyright 2020 Self-reliant India</p>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
