nav{
    background-image: linear-gradient(to right, #720e9e 0,#dd4b39 100%);      
}

nav a{
    color: floralwhite;
}

.fa:hover {
      color: floralwhite;
  }
  
.jumbotron{
    background-image: linear-gradient(to right, #720e9e 0,#dd4b39 100%);
    color: floralwhite;

}
.header{
    color: floralwhite;
    padding: 10px 40px 0px 40px ;
}
footer{
    background-image: linear-gradient(to right, #720e9e 0,#dd4b39 100%);
    color: floralwhite;
    padding: 20px 0px 20px 0px;

}

.to_be_removed{
    padding: 50px;
}